@import 'base.css';

.left-navbar {
    width: 200px;
    height: 100%;
    background-color: red;
    position: fixed;
    z-index: 1;
}

.content {
    position: relative;
    margin-left: 200px;
    padding-left: 20px;
}

.navbar-tags {
    margin-left: 20px;
}

