
.tag-form {
    width: 400px;
    margin: auto;
    position: relative;
    top: 20px;
}

.add-tag-form {
    width: 400px;
}

.add-tag-form > input {
    width: 350px;
    float: left;
}

.add-tag-form > button {
    width: 50px;
}

.add-alias-form > input {
    width: 175px;
    float: left;
}

.add-alias-form > button {
    width: 50px;
}

.tag-categories {
    position: relative;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #fafafa;
}

.table-content .tag-operation {
    position: absolute;
    left: 25em;
    visibility: hidden;
}

.table-content:hover {
    background-color: aliceblue;
}

.table-content:hover .tag-operation {
    visibility: visible;
}

.col-1 {
    width: 100px;
}

.page-selector {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2em;
}

.page-selector > span, .page-selector > a {
    width: 10px;
    margin: 1px;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}

.page-selector > a {
    color: blue;
}

.page-selector > a:hover {
    background-color: blue;
    color: white;
}

.table-button {
    padding: 2px;
    margin: 3px;
    background-color: antiquewhite;
}

.table-button:hover {
    background-color: cyan;
}

.tag-tool-bar > input {
    width: 300px;
    float: left;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}

.tag-tool-bar > button {
    width: 90px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}


