
.video-detail {
    position: relative;
    top: 20px;
}

.video-detail > p {
    white-space: pre-wrap;
}

.video-detail > a {
    display: block;
}

.copies-area {
    position: relative;
    top: 30px;
    background-color: yellowgreen;
}

.series-area {
    position: relative;
    top: 60px;
    background-color: yellow;
}

.edit-tag-button {
    padding: 5px;
    margin-left: 20px;
    margin-top: 10px;
}

.left_list > span {
    margin-top: 20px;
    margin-left: 20px;
    display: block;
    font-weight: 600;
}
