


*{
    padding:0px;
    margin: 0px;
}

body{
    width: 100%;
    height:100%;
    background:  url("../../img/imoto.jpg") no-repeat top center ;
    opacity: 0.9;
    background-size:cover;
    background-attachment: fixed;
  
}

    .w{
        background-color: white;
        width: 1600px;
        margin: auto;
        display: flex;
        padding:10px; 
    }



ul{
    list-style: none;

}
.content{
  top: 3px;
  width: 80%;
  position: relative;
      flex: 1;
  background-color: white;

}
.deemo{
    position: relative;
    width: 100%;
    height:300px;
    background-color: #E9E0EB;
    display: none;
    margin-bottom: 10px; 

}
.footer{

  height:100px;
  width: 1600px;
  background-color: #fff;
border-top: 1px solid  #c5464a;
 
text-align: left;
    line-height: 100px;
    font-size: 14px;
    color: #73777a;
    letter-spacing: .5px;

}
.footer p{
  margin: auto;
  text-align: center;
}
