


*{
    padding:0px;
    margin: 0px;
}

a{
  text-decoration: none;
color: #006D88;
}

a:hover {
color: #B34D76; /*鼠标经过的颜色变化*/
}
a:active {
color: #F93A60; /*鼠标按下的颜色变化*/
}

body{
    width: 100%;
    height:100%;
    background:  url("../../img/imoto.jpg") no-repeat top center ;
    opacity: 0.9;
    background-size:cover;
    background-attachment: fixed;

}

    .w{
        background-color: white;
        width: 1600px;
        margin: auto;
        display: flex;
        padding:10px;     
    }

.form_select {
  width: 120px;
  height: 42px;
  padding-left: 5px;

  -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: menulist;
    box-sizing: border-box;
    align-items: center;
    white-space: pre;
    -webkit-rtl-ordering: logical;
    background-color: white;
    cursor: default;
    margin: 0em;
    font: 400 13.3333px Arial;
  outline:none;

    border-style: solid;
    border-color: white;
    border-image: initial;
}

ul{
    list-style: none;

}
.content{
  top: 3px;
  width: 80%;
  position: relative;
      flex: 1;
  background-color: white;
   

}
.deemo{
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 10px; 

} 

.footer{

  height:100px;
  width: 1600px;
  background-color: #fff;
border-top: 1px solid  #c5464a;
 
text-align: left;
    line-height: 100px;
    font-size: 14px;
    color: #73777a;
    letter-spacing: .5px;

}
.footer p{
  margin: auto;
  text-align: center;
}

.shadow{
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
}
