


*{
    padding:0px;
    margin: 0px;
}

body{
    width: 100%;
    height:100%;
    background:  url("../../img/reimu_miko.jpg") no-repeat top center ;
    opacity: 0.9;
    background-size:cover;
    background-attachment: fixed;
  
}

    .w{
        background-color: white;
        width: 80%;
        margin: auto;
        display: flex;
        padding:10px; 
    }

#search-bar-query{
  width: 200px;
 height: 40px;
 padding-left:10px;
 border-radius: 25px;  
 padding-bottom: 0px;

}

ul{
    list-style: none;

}
.content{
  width: 80%;
  position: relative;
      flex: 1;
  background-color: white;

}
.deemo{
    position: relative;
    width: 100%;
    height:300px;
    background-color: #E9E0EB;
    display: none;
    margin-bottom: 10px; 

}
.footer{
  background-color: #95A9AE;


}
