.left-navbar{
  position: relative;
  width: 15%;
   box-shadow: 0 2px 8px rgba(0,0,0,.1);
  margin-right: 10px;


}
.left_list{
    width: 15%;
}
.left_list ul
{

    padding-right: 6px;
    padding:20px;
    font-size: 30px;
    color: #999;
    text-decoration: none;
    width: 200px;
    word-break: break-all;

}

.left_list li a{
  
    text-align: center;
    margin-bottom: 20px;
    text-decoration: none;
}
.left_list li a:hover{
    background-color: #F0EBF1;
}
