.d_t{
 width:100%;
 padding-top: 100px;
 }
 .d_t:hover{
 background-color: rgba(255,255,255,0.1);
 }
 .d_t a{
  display: block;
  width: 300px;
  margin: auto;
 }

.d_b {
  position:relative;
 width:100%;
 height: 200px;
}

.deemo{

background:  url("../../img/4.jpg")  left  no-repeat,
 url("../../img/3.jpg")  right  no-repeat;
/* url("../img/4.jpg") center  no-repeat,
             url("../img/2.jpg") right  no-repeat; */
 background-size: 150px 202.7px ; 
}
.d_t{
padding-bottom: 20px;
}
.d_t p{
  display: block;
  width: 60%;
  color: #FB8CA2;
  text-align: center;
   margin: 0px auto 30px;

}

 .minbox{
  width:95%;

padding:20px;
  margin: 20px 10px;
border: 2px solid #efefef;

    background: #ffffff;
  
    text-align: center;

/* -moz-box-shadow:5px 7px 20px #CF7CD9; -webkit-box-shadow:5px 7px 20px # ; box-shadow:5px 7px 20px #CF7CD9; */
}



  .recommend,.Copies_blibili,.Playlists{


    margin-bottom: 10px;

  }
  .recommend{
    display: flex;
    flex-wrap: wrap;
}
 .recommend .minbox{
     width: 46%;
 }

 .re_top h2,.new_top h2{
    word-wrap: break-word;
    word-break: normal;
    display: inline-block;
    font-size: 24px;
    font-weight: 1px;
  
    width: 100%;
    text-align: center;

  }


  .re_video,.new_video-detail{
    width: 100%;
    position: relative;
    top: 0px;
    left: 0px;
    height: 220px;

 }
 .re_top,.new_top{

  padding-bottom: 20px;
  border-bottom:3px solid red; 
}
.new_top
{

  border-bottom:3px solid #21C6EF;
}

.re_video a{
  width: 100px;
  text-align: center;
  line-height:100px;
}

.re_video  img{
    vertical-align: middle;
    width: 320px;
    height: 200px;
    margin: 0;
    text-align: left;
    float: left;
    margin-right: 20px;
}
.re_video  p,.new_video li p{
font-size: 21px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    text-align: left;
    word-wrap: break-word;
    /* width: 60%; */
    height: 200px;
    overflow: hidden;
    /* float: inherit; */
    /* margin: 30px auto; */
    margin-top: 30px;
    margin-left: 20px;
    /* position: absolute; */
    /* display: none; */
    /* float: right;*/
}

.video_link {
  text-align: center;
  margin-top: 6px;
}
