
ul {
    list-style: none;
}

.video-list {
    position: relative;
    padding-top: 10px;
}

.video-list > h4 {
    margin-bottom: 10px;
}

.list-item {
    padding-bottom: 10px;
}

.list-item:hover {
    background-color: #EEEEEE;
}

.video-thumbnail {
    margin-right: 20px;
    float: left;
}

.video-detail {
    height: 100px;
    position: relative;
}

.video-detail > a {
    position: relative;
    top: 40px;
}

.video-detail > p {
    font-size: 1.0rem;
    line-height: 1.1rem;
    white-space: pre-wrap;
    overflow: hidden;
    height: 3.4rem;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:3;
}

.video-detail > div {
    position: absolute;
    bottom: 0px;
    left: 180px;
}

.page-selector {
    text-align: center;
    margin-top: 5px;
    font-size: 1.2em;
}

.page-selector > span, .page-selector > a {
    width: 10px;
    margin: 1px;
    padding: 1px;
    padding-left: 6px;
    padding-right: 6px;
    text-decoration: none;
}

.page-selector > a {
    color: blue;
}

.page-selector > a:hover {
    background-color: blue;
    color: white;
}

