<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <!-- 这是容器 -->
  <div id="app">
    <ul>
      <li>1q</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
    </ul>
    <p>{{msg}}</p>

    <login></login>

  </div>
</body>
<!--<script src="../dist/main.js"></script>-->
<script>

/*
  var login={
         template:' <h1>这是登录组件，使用 .vue 文件定义出来的 </h1>'

  }
  var vm = new Vue({
    el:'#app',
    data:{

    },
    render:function(createElements){
      //createElements是一个方法，调用它，它能够把指定的组建模板，渲染为html结构
      return createElements(login);
      //注意：，这里return的结果，会替换页面中el指定的那个容器
    }
  })*/
</script>
</html>