<html>
	<head>
		<title id="page-title">{% block title %}{% endblock %}</title>
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/base.css') }}">
		<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/generic.css') }}">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="{{ url_for('static',filename='js/generic.js') }}"></script>
		<script src="{{ url_for('static',filename='js/base.js') }}"></script>
	</head>
	<body>
        <div class="top-navbar" id="top-navbar">
			SITE ICON -- {% include "searchbar.html" %} --
			<div class="user-content">
			{% if _user is none %}
				<a href="/login">Login</a>
				<a href="/signup">Sign up</a>
			{% else %}
				<a href="/users/{{_user['_id']}}">{{_user['profile']['username']}}</a>
				<a href="/logout">Log out</a>
			{% endif %}
			</div>
        </div>
		<div id="content-outer" class="content-outer">
            {% block content_outer %}
            {% endblock %}
		</div>
	</body>
</html>
