{% extends "base.html" %}
{% block title %}Content base page{% endblock %}
{% block content_outer %}
<div>
	<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/content_base.css') }}">
	<script src="{{ url_for('static',filename='js/content_base.js') }}"></script>
	<div class="left-navbar">
		<p><a href="/">HOME</a></p>
		<p><a href="/lists">PLAYLISTS</a></p>
		SUBSCRIPTIONS<br>
		----<a id="edit-current-tags" href="/" style="display: none;">Edit</a><br>
		<div id="navbar-tags" class="navbar-tags">
			{% for tag in tags_list %}
			<div>
				<a href="/search?query={{tag}}">{{tag}}</a>
			</div>
			{% endfor %}
		</div>
		----<br>
		<a href="/postvideo">POST VIDEO</a>
		<a href="/edittag">EDIT TAG</a>
	</div>
	<div class="content">
		{% block content %}
		{% endblock %}
	</div>
</div>
{% endblock %}

