<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/new/common.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/new/Top-navbar.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/tabtable.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/edittag.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/generic.js') }}"></script>
    <script src="{{ url_for('static',filename='js/edittag.js') }}"></script>
    <script src="{{ url_for('static',filename='js/tabtable.js') }}"></script>
    <link rel="icon" href="{{ url_for('static',filename='img/Patchouli_logo.png') }}" type="image/x-icon"/>
    <meta id="uid" content="{{_user._id}}"></meta>
    <title>Tags - PatchyVideo</title>
</head>

<body>
    <div class="top-navbar w " id="top-navbar">

        <div class="nav_left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/lists">Playlists</a></li>
                <li><a href="/postvideo">Post Video</a></li>
                <li><a href="/edittag">Tags</a></li>
            </ul>
        </div>

        <div class="nav_right">
            <ul>
                {% include "searchbar_new.html" %}
                {% if _user is none %}
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Sign up</a></li>
                {% else %}
                <li><a style="overflow: hidden; width: 130px;" href="/users/{{_user['_id']}}">{{_user['profile']['username']}}</a></li>
                <li><a href="/logout">Log out</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="w">

        <div class="content">
            <div id="primary" class="tag-categories">
                <div class="tab-header">
                </div>
            </div>
        </div>
    </div>
    <div class="footer w">
        <p> Running PatchyVideo(<a href="{{_version_url}}">{{_version}}</a>) </p>
    </div>
</body>

</html>
