<!DOCTYPE html>
<html>

<head>
	<title>幻想之物</title>
</head>
<body>
	<p>...一切皆遁入幻想...</p>
	<h1>设计思路</h1>
	<ul>
		<li>東方视频备份站</li>
		<li>为被削除的東方视频提供备份服务</li>
		<li>暂时只提供人工审核通道，有备份需求的up请移步群：【qq群号】</li>
		<li>备份站所使用的视频播放新技术为IPFS 分布式网络，可能会出现卡顿情况</li>
		<li>了解IPFS 技术可更好地使用本站功能</li>
	</ul>

	<h1>示例视频</h1>
	<!-- TODO: 使用数据库获取名单 -->
	<a href="https://ipfs.globalupload.io/QmcAmXANyKjCfRoy9HAHA2tK4c3ujHH2yekwZwNTD6gTDh">bad apple!!</a>
	<p />
	<a href="https://ipfs.globalupload.io/QmT2LT2D513dTe1bNuBogfDCpZakaEuPquJmozYx6X6Gmq">最终鬼畜蓝蓝路</a>
	<p />
	<a href="https://ipfs.globalupload.io/QmNdrzSXnYyiTJGS3tj3SswhpJLpjhmNbTLm15hWR7kLdE">最终鬼畜二小姐</a>
	<p />
	<h1>图片测试</h1>
	<!-- TODO: 也可采用数据库检索hash值 -->
	<img src="https://ipfs.globalupload.io/QmQH2mFR9mwv5PM1toYech1uXSr5k8Tdu2qQ6XEaVy9QtL">
	<p />
	<img src="https://ipfs.globalupload.io/QmRnp2Fz84MDRNLriRAD5cKMGwaGRcX21i5iRXTUdPTsiS">
	<p />
	<img src="https://ipfs.globalupload.io/Qmak58VTfTjegyLE1pzeDK864xp6wWtDqrk43YuMTU9PVq">
	<p>by liuAbin</p>
	<!-- <img src="https://ipfs.globalupload.io/QmPuwsMMtx2cMPFqRTRK3qfDutiLMhLD9eyosJn3H1N6pP"> -->
</body>
</html>