{% extends "base.html" %}
{% block title %}Log in{% endblock %}
{% block content_outer %}
<script src="{{ url_for('static',filename='js/login.js') }}"></script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/login.css') }}">
<meta id="session" content="{{session}}"></meta>
<div>
    <form id="login-info" method="POST">
        <div class="central-form">
            <input id="username" name="username" class="central-element width line-text-input" type="text" placeholder="Username"></input>
            <input id="password" name="password" class="central-element width line-text-input" type="password" placeholder="Password"></input>
            <p class="central-element width" id="status" style="text-align: center;">Ready</p>
            <input class="central-element narrow bottom-element line-text-input" onclick="javascript:login();" type="button" value="Login"></input>
        </div>
    </form>
</div>
{% endblock %}
