
<li id="s1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://zeptojs.com/zepto.min.js"></script>
    <script src="{{ url_for('static',filename='js/jquery.textcomplete.js') }}"></script>
<!--    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<form id="search-bar" action="/search" method="GET" autocomplete="off">
    <select class="form_select">
        <option value="0">Tags</option>
    </select>
    <input id="search-bar-query" name="query" type="text" placeholder="Search" value="{{query}}">
    <input id="search-bar-submit" type="submit" value="Search">
</form>
<link href="{{ url_for('static',filename='css/textcomplete.css') }}" rel="stylesheet">
<script>
    function match_keywords(term) {
        keywords = ["AND", "OR", "NOT", "date:", "site:bilibili", "site:nicovideo", "site:twitter", "site:youtube"];
        data2 = [];
        keywords.forEach(element => {
            if (element.startsWith(term)) {
                data2.push({"src": element, "dst": "", "count": -1, "color": "#0", "term": term});
            }
        });
        return data2;
    }
    $('#search-bar-query').textcomplete([
        {
            id: 'tags',
            match: /\b([\w][\w][\w_\-'\:]*(_\([\w'\-_]+\)?)?)$/,
            search: function (term, callback) {
                $.getJSON( "https://patchyvideo.com/autocomplete/?q=" + term, function( data ) {
                    data = $.map(data, function(ele) {
                        ele['term'] = term;
                        ele['color'] = getCategoryColor(ele['category']);
                        return ele;
                    });
                    
                    callback(match_keywords(term).concat(data));
                });
            },
            template: function (value) {
                suffix = value.src.substring(value.term.length);
                highlighted_term = `<b>${value.term}</b>${suffix}`;
                if (isEmpty(value.dst)) {
                    if (value.count == -1) {
                        return `<span style="color: ${value.color};"><span style="margin-right: 6em;">${highlighted_term}</span></span>`;
                    }
                    return `<span style="color: ${value.color};"><span style="margin-right: 6em;">${highlighted_term}</span></span><span style="float:right;">${value.count}</span>`;
                } else {
                    return `<span style="color: ${value.color};"><span>${highlighted_term}</span>-><span style="margin-right: 6em;">${value.dst}</span></span><span style="float:right;">${value.count}</span>`;
                }
            },
            replace: function (value) {
                if (isEmpty(value.dst)) {
                    return value.src + ' ';
                } else {
                    return value.dst + ' ';
                }
            },
            index: 1
        }
    ],
    {
        onKeydown: function (e, commands) {
            if (e.ctrlKey && e.keyCode === 74) { // CTRL-J
                return commands.KEY_ENTER;
            }
        },
        placement: "matchinput"
    });
</script>
</li>