
<li id="s1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://zeptojs.com/zepto.min.js"></script>
    <script src="{{ url_for('static',filename='js/jquery.textcomplete.js') }}"></script>
<form id="search-bar" action="/search" method="GET" autocomplete="off">
    <select class="form_select">
        <option value="tags">标签</option>
    </select>
    <input id="search-bar-query" name="query" type="text" placeholder="标签" value="{{query}}">
    <input id="search-bar-submit" type="submit" value="搜索">
</form>
<link href="{{ url_for('static',filename='css/textcomplete.css') }}" rel="stylesheet">
<script>
    function match_keywords(term) {
        keywords = ["AND", "OR", "NOT", "date:", "site:acfun", "site:bilibili", "site:nicovideo", "site:twitter", "site:youtube"];
        data2 = [];
        keywords.forEach(element => {
            if (element.startsWith(term)) {
                data2.push({"tag": element, "cnt": -1, "color": "#0", "term": term});
            }
        });
        return data2;
    }
    $('#search-bar-query').textcomplete([
        {
            id: 'tags',
            match: function(text) {
                var i = text.length;
                while (i--) {
                    if (text.charAt(i) == ' ' ||
                        text.charAt(i) == '\t' ||
                        text.charAt(i) == '\n' ||
                        text.charAt(i) == '\v' ||
                        text.charAt(i) == '\f' ||
                        text.charAt(i) == '\r' ||
                        text.charAt(i) == ')') {
                        return i + 1;
                    }
                    else if (text.charAt(i) == '(') {
                        if (i > 0 && text.charAt(i - 1) == '_') {
                            continue;
                        } else {
                            return i + 1;
                        }
                    }
                }
                return 0;
            },
            search: function (term, callback) {
                $.getJSON( `https://patchyvideo.com/autocomplete/?q=${term}`, function( data ) {
					data = $.map(data, function(ele) {
						ele['term'] = term;
						ele['color'] = getCategoryIdColor(ele['cat']);
						return ele;
					});
                    
                    callback(match_keywords(term).concat(data));
                });
            },
            template: function (value) {
				var term_start_pos = value.tag.indexOf(value.term);
				prefix = value.tag.substring(0, term_start_pos);
				suffix = value.tag.substring(term_start_pos + value.term.length);
				highlighted_term = `${prefix}<b><u>${value.term}</u></b>${suffix}`;
				return `<span style="color: ${value.color};"><span style="margin-right: 6em;">${highlighted_term}</span></span><span style="float:right;">${value.cnt}</span>`;
			},
			replace: function (value) {
				return value.tag + " ";
			},
            index: 1
        }
    ],
    {
        onKeydown: function (e, commands) {
            if (e.ctrlKey && e.keyCode === 74) { // CTRL-J
                return commands.KEY_ENTER;
            }
        },
        placement: "matchinput"
    });
</script>
</li>