<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册 - PatchyVideo</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/new/login_sign up.css') }}">
    <script src="{{ url_for('static',filename='js/signup.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static',filename='js/generic.js') }}"></script>
    <link rel="icon" href="{{ url_for('static',filename='img/Patchouli_logo.png') }}" type="image/x-icon"/>
    <style type="text/css">
        body {
            background: url("{{ url_for('static',filename='img/sign_up.jpg') }}") no-repeat top center;
            /* background-position: 200px 0; */
            background-size: cover;
            background-attachment: fixed;
        }
        .w {
            left: -200px;
        }
    </style>
    <meta id="session" content="{{session}}"></meta>
</head>

<body>
    <div class="w">
        <h1><a href="/">PatchyVideo</a></h1>
        <div class="top in">
            <a href="/login">登录</a>
            <b>·</b>
            <a href="/signup">注册</a>
        </div>
        <div class="middle in">
            <form id="signup-info" method="POST">
                <div class="central-form">
                    <input id="username" name="username" type="text" placeholder="用户名"></input>
                    <input id="password1" name="password1" type="password" placeholder="密码"></input>
                    <input id="password2" name="password2" type="password" placeholder="重复密码"></input>
                    <input id="email" name="email" type="email" placeholder="Email(可选)"></input>
                    <p id="status" style="text-align: center;">就绪</p>
                </div>
            </form>
        </div>
        <div class="bottom in">
            <div class="login in" onclick="javascript:signup();">注册</div>
        </div>
    </div>
</body>
</html>